<div class="container">
  <h1 class="display-1">Budget Tracking</h1>
  <div class="row">

    <div class="row">
      <div class="col cuadro">

        {{#if data}}

        <h2>Last 10 Movements</h2>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Type</th>
              <th scope="col">Description</th>
              <th scope="col">Amount</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody></tbody>

          {{#each data}}

          <tr>
            <th scope="row">{{movement_date}}</th>
            <td>{{movement_type}}</td>
            <td>{{movement_description}}</td>
            <td>$ {{movement_amount}}</td>
            <td>
              <button class="http-request btn btn-danger" data-method="DELETE"
                data-url="http://localhost:3000/movements/{{id}}">DELETE</button>
              <a class="btn btn-warning toggle-edit-form" href="http://localhost:3000/movements/edit/{{id}}">EDIT</a>
            </td>

            {{/each}}

            </tbody>
        </table>

        {{else}}

        <h2>There are no movements to show</h2>

        {{/if}}

      </div>

    </div>
    <div class="col cuadro">
      <div class="row">
        <div class="col">
          <h2>BALANCE IS $</h2>
        </div>
      </div>
    </div>
  </div>